/* ---------------- LAYOUT */
 .timeline-container {
	 max-width: 1024px;
	 width: 90%;
	 margin: 0 auto;
}
/* ---------------- THE FONTS */
 .timeline-item {
	 padding: 3em 2em 2em;
	 position: relative;
	 color: rgba(0, 0, 0, .7);
	 border-left: 2px solid rgba(0, 0, 0, .3);
}
 .timeline-item p {
	 font-size: 1rem;
}
 .timeline-item::before {
     color: #415a53;
	 content: attr(date-is);
	 position: absolute;
	 left: 2em;
	 font-weight: bold;
	 top: 1em;
	 display: block;
	 font-weight: 700;
     font-size: 1rem;
}
 .timeline-item::after {
	 width: 20px;
	 height: 20px;
	 display: block;
	 top: 1em;
	 position: absolute;
	 left: -11.5px;
	 border-radius: 10px;
	 content: '';
	 border: 2px solid rgba(170, 170, 170, 1);
     background-color: rgb(163, 168, 168);
}
 .timeline-item:last-child {
	 border-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}
 